@page "/review/create"

@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@using AppForSEII2526.Web.Components.Shared
@inject AppForSEII2526APIClient apiclient
@inject ILogger<CreateReview> logger
@inject ReviewStateContainer reviewState
@inject NavigationManager navigation


<h3>Create Review</h3>



@attribute [Authorize]

<EditForm Model="review" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary class="row alert alert-danger" />
    </div>

    @* Bloques de error redundantes eliminados para limpieza *@
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @messageError</p>
    </div>
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @messageError</p>
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="review.Username" class="form-control" id="Username" />
                <label for="Username">username </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="review.Country" class="form-control" id="Country" />
                <label for="Country">Country </label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="review.Drivertype" class="form-control" id="Drivertype" />
                <label for="Drivertype">Drivertype</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                @*a dropdown for selecting the payment method*@
                <InputSelect class="form-select" @bind-Value="@review.Drivertype" id="DriverType">
                    <option value="@DriverType.Experto" default> Experto</option>
                    <option value="@DriverType.Novato"> Novato</option>
                    
                </InputSelect>
                <label for="PaymentMethod">Payment Method</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Reseñar Coche
                </button>
            </div>
        </div>
    </div>

    <h4>Review detail</h4>
    <p><b>Date from:</b> @review.Created.ToString("dd/MM/yyyy")</p>
   


    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfRentalItems">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Fueltype</th>
                    <th>Manufacturer</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in review.Reviewitems)
                {
                    <tr id="CarData_@item.Model">
                        <td>@item.Model</td>
                        <td>@item.Fueltype</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.Color</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

    @if (DialogIsOpen)
{
    <Dialog Caption="Review movies"
    Message="Do you want to proceed to rent the selected movies?"
    OnClose="@OnDialogClose"
    Type=Dialog.Category.SaveNot>
    </Dialog>
    }



@code {

    private string messageError = "";
    private bool hideErrors = true;

    private bool DialogIsOpen;


    private object? errors;




    private ReviewForCreateDTO review => reviewState.Review;

    private void OpenDialog()
    {

        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            if (review.Reviewitems.Count > 0)
            {
                try
                {
                    var reviewd = await apiclient.CreateReviewAsync(review);
                    reviewState.ReviewProcessed();
                    navigation.NavigateTo($"/rental/detailrental/?RentalID={reviewd.Id}");
                }
                catch (ApiException<ValidationProblemDetails> apiexceptionvalidation)
                {

                    if (apiexceptionvalidation.Result.Errors.Values != null)
                    {
                        messageError = "";
                        foreach (var errors in apiexceptionvalidation.Result.Errors.Values)
                            //https://learn.microsoft.com/en-us/dotnet/api/system.string.join?view=net-7.0
                            messageError = string.Join("(*) ", messageError, string.Join(" (*) ", errors));
                    }
                }
                catch (ApiException apiexception)
                {
                    //we need to inform user that there was some other error while processing the request
                    messageError = "Error while processing your request, please try again later!";

                }
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    review.Username = user.Identity.Name;
                }
            }
            review.Username = review.Username == null ? "" : review.Username;

        }
    }


    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

}