@page "/review/seleccionarcochereview"

@using Microsoft.AspNetCore.Authorization
@using AppForSEII2526.Web.API


@inject AppForSEII2526APIClient apiclient
@inject ILogger<SeleccionarCocheReview> logger
@inject ReviewStateContainer reviewState
@inject NavigationManager navigation



<h3>Seleccionar coche para reseñar</h3>
<div class="container-fluid">
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <!-- FILTROS -->
            <div class="row">
                <!-- Filtro: Modelo -->
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Fueltype</span>
                        <input type="text" id="selectFueltype" @bind=carFueltype class="form-control" placeholder="Fueltype" aria-label="Fueltype" aria-describedby="basic-addon1">
                    </div>
                </div>
                <!-- Select de Modelos -->
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Manufacturer</span>
                        <input type="text" aria-label="Manufacturer" @bind=carManufacturer class="form-control" id="selectManufacturer" placeholder="Manufacturer" aria-describedby="basic-addon1">
                           
                    </div>
                </div>



                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchCars id="searchCars">Search cars</button>
                </div>

            </div>
            <div class="row">
                @if (cars == null)
                {
                    <p>Loading cars....</p>
                }
                else
                {
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TableOfCars">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Manufacturer</th>
                                    <th>Fueltype</th>
                                    <th>Color</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var car in cars)
                                {
                                    <tr id="CarData_@car.Model">
                                        <td>@car.Model</td>
                                        <td>@car.Manufacturer</td>
                                        <td>@car.FuelType</td>
                                        <td>@car.Color</td>
                                        <td>
                                            <button class="btn btn-outline-secondary" id="carToReview_@car.Model" @onclick="@(() => AddCar(car))">Add</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                }
            </div>
        </div>
        <div class="col-2" hidden="@hideReviewCart">
            <div class="row">
                <h3>Shopping Cart</h3>
            </div>
            @foreach (ReviewItemDTO item in review.Reviewitems)
            {
                <div class="row">
                    <button type="button" class="btn btn-light" id="removeCar_@item.Model" @onclick="@(() => RemoveReviewItem(item))">x @item.Model</button>
                </div>
            }
            <div class="row">
                <button type="button" class="btn btn-primary" id="ReviewCarButton" @onclick=@ReviewCars>Review cars</button>
            </div>
        </div>

    </div>

</div>


@code {
    
    private bool hideReviewCart { get { return review.Reviewitems.Count == 0; } }
    private ICollection<CocheParaReseñarDTO> cars;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string carFueltype { get; set; }
    private string carManufacturer { get; set; }

    private ReviewForCreateDTO review => reviewState.Review;

    private bool hiddenReviewCart = true;

    private void AddCar(CocheParaReseñarDTO car)
    {
        reviewState.AddCarToReview(car);
    }

    private void RemoveReviewItem(ReviewItemDTO item)
    {
        reviewState.RemoveReviewItemToReview(item);
        if (review.Reviewitems.Count == 0) hiddenReviewCart = true;
    }

    public async void SearchCars()
    {

       
        try
        {
            cars = await apiclient.GetCocheParaReseñarAsync(carManufacturer, carFueltype);
            errors = "";

        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    protected override Task OnInitializedAsync()
    {

        SearchCars();

        return base.OnInitializedAsync();
    }

    private void ReviewCars()
    {
        navigation.NavigateTo("/review/createreview");
    }

}